__pycache__
*.pyc
.DS_Store
.idea
.ipynb_checkpoints
*.ai
*.txt
*.hdf5
*.pdf

*.py
!load_preprocess_data.py
!utility.py

*.ipynb
!discovering_DNA_motifs_using_convnets_classification.ipynb

*.sh
*.pkl
*.json
*.nim
